/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-font: 'PressStart2P', monospace ;
  --main-font: 'Inter-Virable', sans-serif;
  --font-weight-title: 715;
  --font-weight-card-text: 410;
  --bc-gradient:
  repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #e7e7e7 0% 0.01%, #1a1a1a 100%);
  --inline-size: clamp(375px, 260.56px + 30.52vw, 700px);
  --bc-color: #fff;
  --text-color: #000;
  --border: 2px solid var(--text-color, #000);
  --text-stroke-color: #fff;
}